---
redirect_from: 
  - "/redmine"
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
{% include head.html %}
<body>
{% include header.html %}

<div id="fullpage">
  {% for tab in site.tabs %}
    {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
    <div class="section {{tab.class}}">
      {{ tab.content }}
    </div>
  {% endfor %}
</div>

<footer class="footer">
    <div class="footer-content mx-auto">
      <a class="pl-4" href="https://www.fit.fraunhofer.de/en/imprint.html">Imprint</a>
      <a class="pl-4" href="https://www.fit.fraunhofer.de/en/data_protection.html">Data Protection</a>
      <script>
        var email =  '{{ site.email | split: "" | reverse | join: "" }}';
        email = email.split('').reverse().join('');
        document.write('<a class="pl-4" href="mailto:' + email +'">Contact</a>');
      </script>
    </div>
</footer>

{% include js_files.html %}
</body>
</html>
