<div class="logo-container">
  <img src="img/logo.png" alt="LinkSmart logo">
</div>

<nav class="navbar navbar-expand-md fixed-top smart-navbar">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mx-auto" id="menu">
      {% for tab in site.tabs %}
        {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
        {% if forloop.first %}
          <a class="navbar-brand" href="#{{id}}">{{site.title}}</a>
        {% else %}
          <li class="nav-item" data-menuanchor="{{id}}">
            <a class="nav-link" href="#{{id}}">{{tab.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

<script type="text/javascript">
var anchors = [
{% for tab in site.tabs %}
  {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
  '{{id}}'{% if forloop.last == false %},{% endif %}
{% endfor %}
]
</script>
