
<nav class="navbar navbar-expand-md fixed-top smart-navbar navbar-dark">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto" id="menu">
            {% for tab in site.tabs %}
              {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
              {% if forloop.first %}
                <a class="navbar-brand" href="#{{id}}">{{site.title}}</a>
              {% else %}
                <li class="nav-item" data-menuanchor="{{id}}">
                  <a class="nav-link" href="#{{id}}">{{tab.title}}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
  </div>
</nav>

<script type="text/javascript">
var anchors = [
{% for tab in site.tabs %}
  {% capture id %}{{ tab.id | remove:'/' | remove:'tabs' | downcase }}{% endcapture %}
  '{{id}}'{% if forloop.last == false %},{% endif %}
{% endfor %}
]
</script>
