@media only screen and (max-width:768px) {
  .fp-scrollable {
    height: auto !important;
  }
}


.btn {
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4)
}

.intro-bg {
  background: #258cd4;
  width: 100%;
  @include media-breakpoint-up(lg) {
    background-image: url(../img/bg-graph-left.png), url(../img/bg-graph-right.png);
    background-repeat: no-repeat;
    background-position: top left, top right;
  }

  @include media-breakpoint-up(sm) {
    display: table;
    table-layout: fixed;
    .intro-content{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .container{
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.why-bg {
  background: #81c3ed;
  @include media-breakpoint-up(lg) {

  }
  feature-icon path {
    fill: white;
  }
  feature-icon {
    fill: white;
  }
  .container{
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.solutions-bg{
  background: #e1e8eb;
  .icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    color: #258cd4;
    margin-bottom: 20px;
  }
  .header-container {
    padding-top: 190px;
    border-radius: 0;
    background: url(../img/solutions-bg.jpg) no-repeat 50% 0;
    color: #000;
    background-size: cover;
    background-position: center;
    min-height: 40vh;

    .copyright {
      position: relative;
      bottom: -79px;
      float: right;
      font-size: 12px;
      color: white;
    }
  }
}

.domains-bg{
  background: #258cd4;
  z-index: 10;
  .container{
    padding-top: 100px;
    padding-bottom: 70px;
    min-height: 800px;
  }

  #world {
    z-index: -1;
    position: absolute;
    right: -270px;
    width: 1100px;
    height: 700px;
    top: 70px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .box-list {
    svg{
      max-width: 75px;
      max-height: 75px;
    }
    .box-item {
      color: white;
      text-align: center;
      width: 150px;
      // display: block;
      // float: left;
      // margin: 20px;
      cursor: pointer;
      &.active {
        color: map-get($theme-colors, warning);
      }
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .tab-content > .tab-pane {
    @include media-breakpoint-down(sm) {
      display: block;
      opacity: 1;
    }
  }
}

.box-card {
  background: #81c3ed;
  color: black;

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

.card-icon{
  text-align: center;
  .icon{
    height: 60px;
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.icon {
  fill: currentColor;
  * {
    fill: currentColor !important;
  }
}

.tab-header{
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.tab-text{
  margin-top: 3rem;
  font-size: 100px;
  letter-spacing: -2px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 4rem;
  }
}

.navbar{
  transition: all 1s ease;
  background-color: #555555;
  .navbar-brand img{
    transition: all 1s ease;
  }
  @include media-breakpoint-up(lg) {
    &.highlighted{
      background-color: rgba(0,0,0,0);;
      top: 60px;
      .navbar-brand img {
        height: 80px;
        // width: 80px;
        margin-top: -25px;
      }
      .navbar-brand img.fit {
        // width: 172px;
        height: 48px;
        margin-top: -25px;
      }
    }
    // to make it at right
    // ul.navbar-nav{
    //   margin-left: auto !important;
    // }
  }
  .nav-link{
    letter-spacing: 5px;
  }
}
// .navbar-nav>li{
//   border-right: 1px solid white;
// }

// .navbar-nav>li:last-child{
//   border: none;
// }

.footer {
  position: fixed;
  bottom: -1px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 36px;
  line-height: 36px; /* Vertically center the text there */

  .footer-content {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:260px;
    height:36px;
    background: #555555;
    a{
      color: white;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
    }

  }
}

.fp-section {

  @include media-breakpoint-up(md) {
    .reveal {
      visibility: visible;
      opacity: 0;
      transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transition: opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    }

    &.fp-completely {
      .reveal {
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

        @for $i from 1 through 8{
          &.delay-#{$i} {
            transition-delay: 0s + $i/5;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: auto !important;
  }
}

// it should be above the footer
.fp-slidesNav.bottom {
  bottom: 60px;
}


#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
  background: map-get($theme-colors, warning);
  position: absolute;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #555555;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

#fp-nav ul li{
  margin: 20px 12px;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 18px;
  height: 18px;
  margin: -2px 0 0 -2px;
}
