.metalic-gradient {
  background: #abbaab;
  background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);
  background: linear-gradient(to bottom, #ffffff, #abbaab);
}

.cloud-gradient {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);
  background: linear-gradient(to left, #FFFFFF, #ECE9E6);
}

.violet-gradient {
  background: #4776E6;
  background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);
  background: linear-gradient(to left, #8E54E9, #4776E6);
}

.tab-base {
  padding-top: 150px;
}

.footer {
  position: absolute;
  bottom: -1px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */

  .footer-content {
    width:200px;
    height:60px;
    background: rgba(255, 255, 255, 0.5);
  }
}

.navbar {
  transition: all 1s ease;
}

.logo-container {
  img {
    width: 70px;
  }
  position: fixed;
  top: 10px;
  z-index: 1030;
  width: 100%;
  text-align: center;
}
